BEGIN;
--
-- Create model PatientTelegramLink
--
CREATE TABLE "patient_telegram_links" ("id" uuid NOT NULL PRIMARY KEY, "telegram_user_id" bigint NOT NULL UNIQUE, "telegram_username" varchar(100) NOT NULL, "language" varchar(2) NOT NULL, "consents_json" jsonb NOT NULL, "is_active" boolean NOT NULL, "last_interaction_at" timestamp with time zone NOT NULL, "created_at" timestamp with time zone NOT NULL, "updated_at" timestamp with time zone NOT NULL, "patient_id" bigint NOT NULL UNIQUE);
--
-- Create model BotBroadcast
--
CREATE TABLE "bot_broadcasts" ("id" uuid NOT NULL PRIMARY KEY, "title" varchar(200) NOT NULL, "segment_filters_json" jsonb NOT NULL, "text_ru" text NOT NULL, "text_kk" text NOT NULL, "status" varchar(20) NOT NULL, "scheduled_at" timestamp with time zone NULL, "started_at" timestamp with time zone NULL, "completed_at" timestamp with time zone NULL, "total_recipients" integer NOT NULL, "sent_count" integer NOT NULL, "delivered_count" integer NOT NULL, "failed_count" integer NOT NULL, "clicked_count" integer NOT NULL, "created_at" timestamp with time zone NOT NULL, "updated_at" timestamp with time zone NOT NULL, "organization_id" bigint NOT NULL, "created_by_id" bigint NULL);
--
-- Create model BotDocument
--
CREATE TABLE "bot_documents" ("id" uuid NOT NULL PRIMARY KEY, "document_type" varchar(20) NOT NULL, "file_path" varchar(500) NOT NULL, "title" varchar(200) NOT NULL, "language" varchar(2) NOT NULL, "expires_at" timestamp with time zone NOT NULL, "is_expired" boolean NOT NULL, "created_at" timestamp with time zone NOT NULL, "patient_id" bigint NOT NULL, "related_visit_id" bigint NULL);
--
-- Create model BotAudit
--
CREATE TABLE "bot_audit_logs" ("id" uuid NOT NULL PRIMARY KEY, "action" varchar(20) NOT NULL, "payload_json" jsonb NOT NULL, "ip_address" inet NULL, "user_agent" varchar(500) NOT NULL, "created_at" timestamp with time zone NOT NULL, "patient_telegram_link_id" uuid NOT NULL);
--
-- Create model BotFeedback
--
CREATE TABLE "bot_feedbacks" ("id" uuid NOT NULL PRIMARY KEY, "score" integer NOT NULL, "comment" text NOT NULL, "is_low_score" boolean NOT NULL, "is_reviewed" boolean NOT NULL, "created_at" timestamp with time zone NOT NULL, "appointment_id" bigint NOT NULL, "patient_telegram_link_id" uuid NOT NULL);
--
-- Create model SupportTicket
--
CREATE TABLE "support_tickets" ("id" uuid NOT NULL PRIMARY KEY, "subject" varchar(200) NOT NULL, "message" text NOT NULL, "status" varchar(20) NOT NULL, "created_at" timestamp with time zone NOT NULL, "updated_at" timestamp with time zone NOT NULL, "resolved_at" timestamp with time zone NULL, "patient_telegram_link_id" uuid NOT NULL, "assigned_to_id" bigint NULL);
ALTER TABLE "patient_telegram_links" ADD CONSTRAINT "patient_telegram_links_patient_id_69b4a05d_fk_patients_id" FOREIGN KEY ("patient_id") REFERENCES "patients" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "patient_tel_telegra_f8e7c3_idx" ON "patient_telegram_links" ("telegram_user_id");
CREATE INDEX "patient_tel_patient_3b8a6c_idx" ON "patient_telegram_links" ("patient_id");
ALTER TABLE "bot_broadcasts" ADD CONSTRAINT "bot_broadcasts_organization_id_4aab9f6f_fk_organizations_id" FOREIGN KEY ("organization_id") REFERENCES "organizations" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "bot_broadcasts" ADD CONSTRAINT "bot_broadcasts_created_by_id_ef1fd4b0_fk_users_id" FOREIGN KEY ("created_by_id") REFERENCES "users" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "bot_broadcasts_organization_id_4aab9f6f" ON "bot_broadcasts" ("organization_id");
CREATE INDEX "bot_broadcasts_created_by_id_ef1fd4b0" ON "bot_broadcasts" ("created_by_id");
CREATE INDEX "bot_broadca_organiz_8c5e8e_idx" ON "bot_broadcasts" ("organization_id", "status");
CREATE INDEX "bot_broadca_schedul_7f6e5b_idx" ON "bot_broadcasts" ("scheduled_at");
ALTER TABLE "bot_documents" ADD CONSTRAINT "bot_documents_patient_id_1f4137b9_fk_patients_id" FOREIGN KEY ("patient_id") REFERENCES "patients" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "bot_documents" ADD CONSTRAINT "bot_documents_related_visit_id_6c261ceb_fk_visits_id" FOREIGN KEY ("related_visit_id") REFERENCES "visits" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "bot_documents_patient_id_1f4137b9" ON "bot_documents" ("patient_id");
CREATE INDEX "bot_documents_related_visit_id_6c261ceb" ON "bot_documents" ("related_visit_id");
CREATE INDEX "bot_documen_patient_5c8e7d_idx" ON "bot_documents" ("patient_id", "document_type");
CREATE INDEX "bot_documen_expires_8f6e5b_idx" ON "bot_documents" ("expires_at");
ALTER TABLE "bot_audit_logs" ADD CONSTRAINT "bot_audit_logs_patient_telegram_lin_047bebd5_fk_patient_t" FOREIGN KEY ("patient_telegram_link_id") REFERENCES "patient_telegram_links" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "bot_audit_logs_patient_telegram_link_id_047bebd5" ON "bot_audit_logs" ("patient_telegram_link_id");
CREATE INDEX "bot_audit_l_patient_5c8e7d_idx" ON "bot_audit_logs" ("patient_telegram_link_id", "created_at");
CREATE INDEX "bot_audit_l_action_8f6e5b_idx" ON "bot_audit_logs" ("action");
ALTER TABLE "bot_feedbacks" ADD CONSTRAINT "bot_feedbacks_appointment_id_fec2b0d2_fk_appointments_id" FOREIGN KEY ("appointment_id") REFERENCES "appointments" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "bot_feedbacks" ADD CONSTRAINT "bot_feedbacks_patient_telegram_lin_8d426bae_fk_patient_t" FOREIGN KEY ("patient_telegram_link_id") REFERENCES "patient_telegram_links" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "bot_feedbacks_appointment_id_fec2b0d2" ON "bot_feedbacks" ("appointment_id");
CREATE INDEX "bot_feedbacks_patient_telegram_link_id_8d426bae" ON "bot_feedbacks" ("patient_telegram_link_id");
CREATE INDEX "bot_feedbac_appoint_5c8e7d_idx" ON "bot_feedbacks" ("appointment_id");
CREATE INDEX "bot_feedbac_score_8f6e5b_idx" ON "bot_feedbacks" ("score");
CREATE INDEX "bot_feedbac_is_low__9c8e7d_idx" ON "bot_feedbacks" ("is_low_score", "is_reviewed");
ALTER TABLE "support_tickets" ADD CONSTRAINT "support_tickets_patient_telegram_lin_94fbd8fd_fk_patient_t" FOREIGN KEY ("patient_telegram_link_id") REFERENCES "patient_telegram_links" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "support_tickets" ADD CONSTRAINT "support_tickets_assigned_to_id_b3ca73d5_fk_users_id" FOREIGN KEY ("assigned_to_id") REFERENCES "users" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "support_tickets_patient_telegram_link_id_94fbd8fd" ON "support_tickets" ("patient_telegram_link_id");
CREATE INDEX "support_tickets_assigned_to_id_b3ca73d5" ON "support_tickets" ("assigned_to_id");
CREATE INDEX "support_tic_patient_5c8e7d_idx" ON "support_tickets" ("patient_telegram_link_id", "status");
CREATE INDEX "support_tic_status_8f6e5b_idx" ON "support_tickets" ("status", "created_at");
COMMIT;
